 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.content {
    display: flex;
    flex-direction: row;
   
}
.left-sidebar {
    text-align: center;
    width:25%;
    margin: 2px;
    border: 1px solid blue;
    height: 98vh;
    background-color: rgb(0, 255, 255)
}
.right-sidebar{
flex: 1;
    margin: 2px;
    padding: 5px;
    border: 1px solid blue;
    height: 98vh;
}

table {
    border-collapse: collapse;
    text-align: center;

    th,
    td {
        padding: 2px;
        border: 2px solid rgba(12, 9, 9, 0.5);
    }

}


